* {
    box-sizing: border-box;
  }
  .menu {
    width: 50%;
    float: left;
  }
  .main {
    width: 50%;
    float: left;
  }
  .header {
    padding: 15px;
    display: flex;
    justify-content: center;
  }  

  @media only screen and (max-width: 327px) {
    .content-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

    .main{
      width: 100%;
    }
    
    .menu {
      width: 100%;
    }
  }